* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: 0 5vw 0;
    display: grid;
    grid-template-areas: "intro"
                        "settings"
                        "gallery";

    background-color: #0A0A0A;
}
.intro, .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
h1 {
    color: yellow;
    
}
.settings {
    color: white;
}





.gallery {
    margin: auto;
    padding: 100px 0 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.gallery a {
    /* In case an image is broken this will be the replacement*/
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/72a319113606963.602b97b532122.jpg");
    /* This is important for all a */
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 0px yellow, -2px -2px 0px darkred;
    border-radius: 25px;
}
.gallery a:hover {
    box-shadow: 2px 2px 0px blue, -2px -2px 0px greenyellow;
}
/*
.gallery a:nth-of-type(2n) {
    transform: translate(0, 50px);
}
*/

@media (min-width: 768px) {
    .gallery a {
        box-shadow: 5px 5px 0px yellow, -5px -5px 0px darkred;
    }
    .gallery a:hover {
        box-shadow: 5px 5px 0px blue, -5px -5px 0px greenyellow;
    }
}
@media (min-width: 1024px) {
    .gallery {
        width: 80%;
    }
    .gallery a {
        box-shadow: 6px 6px 0px yellow, -6px -6px 0px darkred;
    }
    .gallery a:hover {
        box-shadow: 6px 6px 0px blue, -6px -6px 0px greenyellow;
    }
}
@media (min-width: 1280px) {
    .gallery a {
        box-shadow: 7px 7px 0px yellow, -7px -7px 0px darkred;
    }
    .gallery a:hover {
        box-shadow: 7px 7px 0px blue, -7px -7px 0px greenyellow;
    }
}
@media (min-width: 1440px) {
    .gallery a {
        box-shadow: 8px 8px 0px yellow, -8px -8px 0px darkred;
    }
    .gallery a:hover {
        box-shadow: 8px 8px 0px blue, -8px -8px 0px greenyellow;
    }
}
.gallery-col-1 {
    width: 100%;
    padding-bottom: 100%;
    margin: 3%;
}

.gallery-col-2 {
    width: 47.4%;
    padding-bottom: 47.4%;
    margin: 1.3%;
}

.gallery-col-3 {
    width: 30.7%;
    padding-bottom: 30.7%;
    margin: 1.3%;
    
}

.gallery-col-4 {
    width: 22.4%;
    padding-bottom: 22.4%;
    margin: 1.3%;
}
.gallery-col-5 {
    width: 17.4%;
    padding-bottom: 17.4%;
    margin: 1.3%;
}
.gallery-col-6 {
    width: 14%;
    padding-bottom: 14%;
    margin: 1.3%;
}

