@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    padding: 0 5vw 0;
    display: grid;
    grid-template-areas: "intro"
                        "settings"
                        "gallery";

    background-color: #0b0a07;
    background-image: linear-gradient(275deg, #748067 0%, #0b0a07 100%);
    min-height: 100vh;
    background-size: cover;
    
    
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    
}

.settings {
    flex-direction: column;
    color: white;
    
}
.franchiseCheckbox{
    /* border: 1px solid #f0ec57; */
    border: 1px solid rgba(240,236,87, 0.95);
    background-color: rgba(187,206,168, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 500px;
    
    padding: 20px;
    border-radius: 25px;

    position: fixed;
    top: 30%;
    right: 0;
    left: 0;
    margin: auto;
}

.franchiseCheckbox div {
    margin: 3px;
}

.columns-container {
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
    border-bottom: 79px solid limegreen;
    position: fixed;
    bottom: 140px;
    right: 10px;
    border-radius: 5px;
}
.columns-container label {
    
    height: 0;
    width: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 65px solid lightgreen;
    border-radius: 5px;
    transform: translate(0px, 41.5px);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    
    
}
.columns-container label select {

    transform: translate(0px, 30px);
}
.columns-container label span{
    transform: translate(0px, 30px);
    font-size: 0.9rem;
    color: red;
}


/* ***********Buttons! */
.franchiseBtn{
    font-size: 50px;
    position: fixed;
    bottom: 10px;
    right: 140px;
    cursor: pointer;
    color: #c16200;
    background-color: #f0ec57;
    border: 4px solid rgba(255,0,0,0.5);
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    
}
.settingsBtn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 60px;
    color: greenyellow;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #006e00;
    box-shadow: 1px 1px red 5px, -1px -1px red 5px;
    border: none;
    cursor: pointer;
    z-index: 1;
    
}
.startBtn{
    margin-top: 20px;
    width: 40%;
    max-width: 200px;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;    
}
.numberGallery-container{
    position: fixed;
    bottom: 90px;
    right: 110px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    background-color: skyblue;
    border: 4px solid rgba(0,0,255,0.3);
    color: red;
    border-radius: 10px;
    
}
/* ********************** */
.numberGallery-container input {
    border-radius: 0%;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    
    text-align: center;
}
.columns-container select {
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    text-align: center;
}

.vh-100{
    height: 100vh;
}
h1 {
    margin-top: 25px;
    color: yellow;
    font-size: 2.5rem;
    text-align: center;
}
h2 {
    font-size: 0px;
}
.settings {
    color: white;
    
}

.d-none {
    display: none;
}
.v-hidden {
    visibility: hidden;
}



.gallery {
    margin: auto;
    padding: 25px 0 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.blurGallery {
    filter: blur(4px);
    z-index: -1;
}

.gallery a {
    /* In case an image is broken this will be the replacement*/
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/72a319113606963.602b97b532122.jpg");
    /* This is important for all a */
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 0px #e3d87e, -2px -2px 0px #bbcea8;
    border-radius: 50px;
}
.gallery a:hover {
    box-shadow: 2px 2px 0px blue, -2px -2px 0px greenyellow;
}


.gallery-col-1 {
    width: 100%;
    padding-bottom: 100%;
    margin: 3%;
}

.gallery-col-2 {
    width: 47.4%;
    padding-bottom: 47.4%;
    margin: 1.3%;
}

.gallery-col-3 {
    width: 30.7%;
    padding-bottom: 30.7%;
    margin: 1.3%;
    
}

.gallery-col-4 {
    width: 22.4%;
    padding-bottom: 22.4%;
    margin: 1.3%;
}
.gallery-col-5 {
    width: 17.4%;
    padding-bottom: 17.4%;
    margin: 1.3%;
}
.gallery-col-6 {
    width: 14%;
    padding-bottom: 14%;
    margin: 1.3%;
}

@media  (width: 375px) {
    .franchiseCheckbox {
        top: 40%;
    }
}
@media (min-width: 768px) {
    .franchiseCheckbox {
        top: 50%;
    }
    .gallery a {
        box-shadow: 5px 5px 0px #e3d87e, -5px -5px 0px #bbcea8;
    }
    .gallery a:hover {
        box-shadow: 5px 5px 0px blue, -5px -5px 0px greenyellow;
    }
}
@media (min-width: 1024px) {
    .gallery {
        width: 80%;
    }
    .gallery a {
        box-shadow: 6px 6px 0px #e3d87e, -6px -6px 0px #bbcea8;
    }
    .gallery a:hover {
        box-shadow: 6px 6px 0px blue, -6px -6px 0px greenyellow;
    }
}
@media (min-width: 1280px) {
    .gallery a {
        box-shadow: 7px 7px 0px #e3d87e, -7px -7px 0px #bbcea8;
    }
    .gallery a:hover {
        box-shadow: 7px 7px 0px blue, -7px -7px 0px greenyellow;
    }
}
@media (min-width: 1440px) {
    .gallery a {
        box-shadow: 8px 8px 0px #e3d87e, -8px -8px 0px #bbcea8;
    }
    .gallery a:hover {
        box-shadow: 8px 8px 0px blue, -8px -8px 0px greenyellow;
    }
}